$body-bg: #1f1f1f;

$primary: #5487ca;
$secondary: #727171;
$danger: #b93f3f;
$success: #509b56;
$warning: #f08623;
$info: rgb(19, 97, 97);
$light: rgb(224, 224, 224);
$dark: rgb(47, 47, 47);

$blue: blue;
$indigo: indigo;
$purple: purple;
$pink: pink;
$red: red;
$orange: rgb(228, 172, 68);
$yellow: yellow;
$green: green;
$teal: teal;
$cyan: cyan;
$white: rgb(172, 172, 172);
$gray: gray;
$gray-dark: darkslategray;

$colors: (
  "blue": $blue,
  "indigo": $indigo,
  "purple": $purple,
  "pink": $pink,
  "red": $red,
  "orange": $orange,
  "yellow": $yellow,
  "green": $green,
  "teal": $teal,
  "cyan": $cyan,
  "white": $white,
  "gray": $gray,
  "gray-dark": $gray-dark,
) !default;
